html,
body {
  margin: 0%;
  overflow-x: hidden;
  box-sizing: border-box;
}
a {
  color: var(--color-gray);
  text-decoration: none;
}
:root {
  --color-gray: #3f4954;
  --color-light: #686666da;
  --color-bg: #0f0f0f;
  --color-white: #ffffff;
  --color-midnight: #104f55;
  --sky: linear-gradient(to top, #f43b47 0%, #453a94 100%);
}
ul {
  list-style-type: none;
}

.nav-brand {
  margin: 0%;
  padding: 1rem 0;
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
}
.social {
  padding: 1.4rem 0;
}
.nav-link {
  transition: transform 650ms;
  padding: 1.4rem;
}
.nav-link:hover {
  background-color: var(--color-midnight);
  transition: transform 250ms;
  transform: translateY(10px);
}
.nav-link:hover a {
  color: var(--color-white);
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.nav-items {
  padding-left: 0%;
  display: flex;
  flex-wrap: wrap;
  margin: 0%;
  font-family: "Roboto Mono", monospace;
}

.nav {
  background: white;
  padding: 0 2rem;
  height: 0rem;
  min-height: 10vh;
  overflow: hidden;
  transition: height 0.6s linear;
}

.collapse {
  height: 25rem;
}

.nav-menu {
  justify-content: space-between;
}

.social a.fb:hover {
  color: blue;
}
.social a.ig:hover {
  color: #d6249f;
}
.social a.tw:hover {
  color: lightskyblue;
}
.social a.yt:hover {
  color: red;
}
.social i {
  padding: 0 0.3rem;
}

.fas.fa-bars {
  font-size: 2rem;
  position: absolute;
  left: 90%;
  top: 2.5%;
  display: none;
}

/*  MAIN CONTENT    */

main .site-title {
  height: 110vh;
  color: white;
  background: url(../assets/Background-image.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}
main h3 {
  margin-top: 0%;
  font-family: "Montserrat", sans-serif;
}
main h1 {
  font-size: 3rem;
  font-family: "Crimson Pro", serif;
}

main .site-title .site-background {
  text-align: center;
  padding: 10rem;
}

/*  MAIN CONTENT    */

@media only screen and (max-width: 765px) {
}

@media only screen and (max-width: 765px) {
  .nav .nav-menu,
  .nav .nav-items {
    flex-direction: column;
  }

  .fas.fa-bars {
    display: initial;
  }
  .nav {
    min-height: 8.2vh;
  }
}

/*------------An Experiment-----------*/
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
main ul {
  left: 15%;
  position: relative;
  display: flex;
  transform: rotate(-25deg) skew(25deg);
  transform-style: preserve-3d;
}
main ul li {
  position: relative;
  list-style: none;
  width: 60px;
  height: 60px;
  margin: 0px 20px;
}
main ul li:before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: -5px;
  width: 100%;
  height: 10px;
  background: #104f55;
  transform-origin: top;
  transform: skewX(-41deg);
}
main ul li:after {
  content: "";
  position: absolute;
  top: 5px;
  left: -9px;
  width: 9px;
  height: 100%;
  background: #104f55;
  transform-origin: right;
  transform: skewY(-49deg);
}
main ul li span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex !important;
  background: #104f55;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 30px !important;
  transition: 1.5s ease-out;
}
main ul li:hover span {
  z-index: 1000;
  transition: 0.3s;
  color: #fff;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.5);
}
main ul li:hover span:nth-child(5){
  transform: translate(40px, -40px);
  opacity: 1;
}
main ul li:hover span:nth-child(4){
  transform: translate(30px, -30px);
  opacity: .8;
}
main ul li:hover span:nth-child(3){
  transform: translate(20px, -20px);
  opacity: .6;
}
main ul li:hover span:nth-child(2){
  transform: translate(10px, -10px);
  opacity: .4;
}
main ul li:hover span:nth-child(1){
  transform: translate(0px, 0px);
  opacity: .2;
}
main ul li:nth-child(1):hover span{
  background: #18754a !important;
}
main h5{
  transform: skewX(-30deg);
  font-size: 0.9rem;
  font-family: 'Roboto Mono', monospace;
}
/*------------An Experiment-----------*/
